node_modules
dist
.vscode
.git
.gitignore
.env
.env.local
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
*.md
!README.md
test
coverage
.prettierrc
.eslintrc.js
eslint.config.mjs
Dockerfile*
docker-compose*.yml
docs
scripts
Entrega 1 TITEC I
